.container-buttons {
    text-align: center;
    margin: auto;
}

p {
    font-family: 'Rock Salt', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.button {
    display: inline-block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    text-decoration: none;
    text-transform: none;
    letter-spacing: 1px;
    margin-bottom: 14px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
}

    .button p {
        font-size: 18px;
    }

    .button span {
        position: absolute;
        left: 0;
        width: 50px;
        font-size: 30px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        text-decoration: none;
    }

    .button.twitter {
        background: #AAB8C2;
    }

    .button.facebook {
        background: #3b5998;
    }

    .button.google {
        background: #db4a39;
    }

    .button.linkedin {
        background: #0e76a8;
    }

    .button.youtube {
        background: #c4302b;
    }

    .button.github {
        background: #171515;
    }

    /*.button.apple {
        background: #cdcdcd;
    }*/

    .button.instagram {
        background: #3f729b;
    }

    .button.microsoft {
        background: #2672ec;
    }