@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using SD.Shared.Models.Energy
@using SD.Shared.Models.Subscription
@using SD.WEB.Core.Auth
@using SD.WEB.Modules.Auth.Core
@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Modules.Support.Core
@using SD.WEB.Properties
@using System.Text.Json
@using Toolbelt.Blazor.PWA.Updater
@inherits LayoutComponentBase

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject ILogger<MainLayout> Logger
@inject IJSRuntime JsRuntime
@inject FirebaseAuthService Auth
@inject AuthenticationStateProvider AuthStateProvider

@inject PrincipalApi PrincipalApi
@inject NavigationManager Navigation
@inject IpInfoApi IpInfoApi
@inject IpInfoServerApi IpInfoServerApi
@inject EnergyApi EnergyApi
@inject EnergyAuthApi EnergyAuthApi
@inject FirebaseApi FirebaseApi

<MudThemeProvider @ref="_mudThemeProvider" IsDarkMode="@_darkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudMessageBox />
<MudSnackbarProvider />

<PWAUpdater Text="@GlobalTranslations.PWAUpdaterText" ButtonCaption="@GlobalTranslations.PWAUpdaterButton" />

<MudLayout>
    <HeadLayout IsAuthenticated="AppStateStatic.IsAuthenticated"></HeadLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="my-3" Style="min-height: calc(100vh - 64px - 32px);">
            @if (IsLoading)
            {
                <div style="position:fixed; top:0; left:0; width:100vw; height:100vh; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.5);">
                    <MudProgressCircular Color="Color.Secondary" Indeterminate="true" Size="Size.Large" />
                </div>
            }
            else
            {
                @Body
            }
        </MudContainer>
        <FooterComponent></FooterComponent>
        <MudDivider Class="my-3 mt-10"></MudDivider>
        <MudText Align="Align.Center" Class="mb-3">
            © 2021-@DateTime.Now.Year - DRMA Tech.
        </MudText>
    </MudMainContent>
</MudLayout>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private bool IsLoading = true;
    private MudThemeProvider? _mudThemeProvider;
    private bool _darkMode = false;

    protected override void OnInitialized()
    {
        try
        {
            // *************************************
            // attention: avoid using asynchronous calls here, as it may affect static html generation (especially for anonymous users)
            // *************************************

            IsLoading = true; StateHasChanged();

            AppStateStatic.DarkModeChanged += dark => { _darkMode = dark; StateHasChanged(); };
            AppStateStatic.ShowError += msg => { Snackbar.Add(msg, Severity.Error); };
            AppStateStatic.Version += GetAppVersion();
            AppStateStatic.UserStateChanged += async () => await UserStateChanged();
            AppStateStatic.NotificationEnabled += async (string token, string platform) => { await FirebaseApi.Subscribe(token, platform); };

            // 1 = capture the claims
            AppStateStatic.AuthChanged += (string? token) =>
            {
                var provider = (FirebaseAuthStateProvider)AuthStateProvider;
                provider.NotifyAuthenticationStateChanged(token);
            };

            // 2 = transform claims into useful data
            AuthStateProvider.AuthenticationStateChanged += async (task) =>
            {
                var state = await task;
                var user = state.User;

                AppStateStatic.User = user;
                AppStateStatic.UserId = user?.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
                AppStateStatic.IsAuthenticated = user?.Identity is not null && user.Identity.IsAuthenticated;

                StateHasChanged();
                AppStateStatic.UserStateChanged?.Invoke();
            };

            IsLoading = false; StateHasChanged();
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
            IsLoading = false; StateHasChanged();
        }
    }

    /// <summary>
    /// Do not process anything here related to authenticated users. (use UserStateChanged instead)
    /// </summary>
    /// <param name="firstRender"></param>
    /// <returns></returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await ApplyDarkMode();
            await RedirectToRequestConsentForChina();
            await ShowCustomerSatisfactionPopup();
            await AskUSerForReview();
            await ShowOnBoardingPopup();
            await LoadEnergyForAnonymous();
        }
    }

    private async Task UserStateChanged()
    {
        try
        {
            //energy
            CacheDocument<EnergyModel>? energy;
            if (AppStateStatic.IsAuthenticated)
            {
                energy = await EnergyAuthApi.GetEnergy();
            }
            else
            {
                energy = await EnergyApi.GetEnergy();
            }

            AppStateStatic.ConsumedEnergy = energy?.Data?.ConsumedEnergy ?? 0;
            AppStateStatic.TotalEnergy = energy?.Data?.TotalEnergy ?? 0;

            //register new user or new login (need to be last step here)
            if (AppStateStatic.IsAuthenticated && !Navigation.Uri.Contains("/support/"))
            {
                Navigation.NavigateTo("/register-user");
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    private async Task ApplyDarkMode()
    {
        var darkMode = await AppStateStatic.GetDarkMode(JsRuntime);

        if (darkMode == null && _mudThemeProvider != null)
        {
            var system = await _mudThemeProvider.GetSystemDarkModeAsync();
            darkMode = system;

            await JsRuntime.SetLocalStorage("dark-mode", darkMode.ToString()?.ToLower() ?? "false");
        }

        AppStateStatic.ChangeDarkMode(darkMode ?? false);
    }

    private async Task RedirectToRequestConsentForChina()
    {
        if (!AppStateStatic.IsAuthenticated && !Navigation.Uri.Contains("/support/"))
        {
            var country = await AppStateStatic.GetCountry(IpInfoApi, IpInfoServerApi, JsRuntime);

            if (country.ToUpper() == "CN")
            {
                var consent = await JsRuntime.GetLocalStorage<bool>("consent");

                if (!consent)
                {
                    Navigation.NavigateTo("/ask-consent");
                }
            }
        }
    }

    private async Task ShowCustomerSatisfactionPopup()
    {
        var accesses = await JsRuntime.GetLocalStorage<HashSet<DateTime>>("session-accesses") ?? new HashSet<DateTime>();
        var hasPreviousAccess = accesses.Count > 0;
        var firstAccess = hasPreviousAccess ? accesses.Min() : (DateTime?)null;
        bool isTooSoon = false;

        if (firstAccess != null)
        {
            var minutesSinceFirst = (DateTime.UtcNow - firstAccess.Value).TotalMinutes;
            isTooSoon = minutesSinceFirst < 5;
        }

        if (hasPreviousAccess && !isTooSoon) //starting with the second access (avoid the first 5 minutes)
        {
            var rating1 = await JsRuntime.GetLocalStorage<int?>("survey-rating");
            if (rating1 == null)
            {
                _ = Task.Run(async () =>
                {
                    await Task.Delay(5000); //survey starts after 5 seconds
                    await JsRuntime.InvokeVoidAsync("Userback.openSurvey", "mjj9Ta");
                });
            }
        }

        accesses.Add(DateTime.UtcNow);

        if (accesses.Count > 10) //keep only the last 10 records
        {
            accesses = accesses.OrderByDescending(x => x).Take(10).ToHashSet();
        }

        await JsRuntime.SetLocalStorage("session-accesses", accesses);
    }

    private async Task AskUSerForReview()
    {
        var rating = await JsRuntime.GetLocalStorage<int?>("survey-rating");
        var reviewed = await JsRuntime.GetLocalStorage("store-reviewed");

        //ask for app store review if ratings are 4 or 5 stars
        if (rating != null && rating > 3 && reviewed.Empty())
        {
            _ = Task.Run(async () =>
            {
                await Task.Delay(5000); //delay of 5 seconds
                await DialogService.AskReviewPopup();
            });
        }
    }

    private async Task ShowOnBoardingPopup()
    {
        var onboarding = await JsRuntime.GetLocalStorage("onboarding-popup");

        //show only once
        if (onboarding.Empty())
        {
            await DialogService.OnboardingPopup();
            await JsRuntime.SetLocalStorage("onboarding-popup", true.ToString().ToLower());
        }
    }

    private async Task LoadEnergyForAnonymous()
    {
        if (!AppStateStatic.IsAuthenticated)
        {
            var energy = await EnergyApi.GetEnergy();

            AppStateStatic.ConsumedEnergy = energy?.Data?.ConsumedEnergy ?? 0;
            AppStateStatic.TotalEnergy = energy?.Data?.TotalEnergy ?? 0;
        }
    }

    [JSInvokable]
    public static void RegistrationSuccessful()
    {
        AppStateStatic.RegistrationSuccessful?.Invoke();
    }

    [JSInvokable]
    public static void AppleVerify(string receipt)
    {
        AppStateStatic.AppleVerify?.Invoke(receipt);
    }

    [JSInvokable]
    public static void ShowError(string error)
    {
        AppStateStatic.ShowError?.Invoke(error);
    }

    [JSInvokable]
    public static void AuthChanged(string? token)
    {
        AppStateStatic.AuthChanged?.Invoke(token);
    }

    [JSInvokable]
    public static string GetAppVersion()
    {
        try
        {
            //https://swharden.com/blog/2020-12-29-blazor-build-info/
            return Resources.BuildDate.ReplaceLineEndings("").Trim();
        }
        catch (Exception)
        {
            return "version-error";
        }
    }

    [JSInvokable]
    public static void SubscribeToTopics(JsonElement args)
    {
        var token = args.GetProperty("token").GetString() ?? throw new NotificationException("token not available");
        var platform = args.GetProperty("platform").GetString() ?? throw new NotificationException("platform not available");

        AppStateStatic.NotificationEnabled?.Invoke(token, platform);
    }

}
