@using SD.WEB.Modules.Profile.Components
@using SD.WEB.Modules.Profile.Core;
@inherits ComponentCore<MyWishListPopup>

@inject WatchedListApi WatchedApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @Title.Format(Quantity)
    </ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    @if (MediaType == MediaType.movie)
    {
        <Wishlist MediaType="MediaType" ShowPrivateAction="ShowPrivateAction" ShowHeader="false" FullScreen="true" Watched="Watched" Watching="Watching" Wish="Wish"
                  Core="Core" ExpressionEmpty="(WishList? list) => list == null || list.Movies.Empty()"></Wishlist>
    }
    else
    {
        <Wishlist MediaType="MediaType" ShowPrivateAction="ShowPrivateAction" ShowHeader="false" FullScreen="true" Watched="Watched" Watching="Watching" Wish="Wish"
                  Core="Core" ExpressionEmpty="(WishList? list) => list == null || list.Shows.Empty()"></Wishlist>
    }
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide" Size="Size.Small">
        @TranslationText.Close
    </Button>
</ModalFooter>

@code {
    [Parameter][EditorRequired] public RenderControlCore<WishList?>? Core { get; set; }
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter] public EventCallback<WatchedList?> WatchedChanged { get; set; }
    [Parameter] public EventCallback<WatchingList?> WatchingChanged { get; set; }
    [Parameter] public EventCallback<WishList?> WishChanged { get; set; }
    [Parameter][EditorRequired] public bool ShowPrivateAction { get; set; }
    [Parameter][EditorRequired] public MediaType MediaType { get; set; }

    private string Title => MediaType == MediaType.movie ? GlobalTranslations.MyMovieWishlist : GlobalTranslations.MyShowWishlist;
    private int Quantity => MediaType == MediaType.movie ? Wish?.Movies.Count ?? 0 : Wish?.Shows.Count ?? 0;

    protected override void OnInitialized()
    {
        WatchedApi.DataChanged += (WatchedList? model) => { Watched = model; WatchedChanged.InvokeAsync(model); StateHasChanged(); };
        WatchingApi.DataChanged += (WatchingList? model) => { Watching = model; WatchingChanged.InvokeAsync(model); StateHasChanged(); };
        WishApi.DataChanged += (WishList? model) => { Wish = model; WishChanged.InvokeAsync(model); Core?.LoadingFinished?.Invoke(model); StateHasChanged(); };
    }
}
