<MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">
    <span class="me-2" style="font-weight: bold;">@Translations.Notification.FeatureUnavailableMessage</span>@Translations.Notification.FeatureUnavailableDescription
</MudAlert>
