@inject IJSRuntime JsRuntime

@if (Settings is { ShowAdSense: true } && Principal?.ClientePaddle is not { IsPaidUser: true })
{
    <div style="text-align: center" @key="@Guid.NewGuid()">
        <ins class="adsbygoogle google-ads" data-ad-client="ca-pub-@AdClientId" data-ad-slot="@(((long)Section).ToString())"></ins>
    </div>
}

@code {
    [Parameter][EditorRequired] public Settings? Settings { get; set; }
    [Parameter][EditorRequired] public ClientePrincipal? Principal { get; set; }
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Main;

    private const string AdClientId = "5145928155833172";

    public enum AdUnit : long
    {
        Main = 4046112630,
        Profile = 4650130753,
        Platforms = 5359194302,
        Collections = 1353899488
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Settings is { ShowAdSense: true } && Principal?.ClientePaddle is not { IsPaidUser: true })
        {
            await JsRuntime.InvokeVoidAsync("adsbygoogle.push", new object[] { new { } });
        }
    }
}
