@inherits ComponentCore<GoogleAdSense>

@inject IJSRuntime JS

@if (Navigation.BaseUri.Contains("localhost"))
{
    <ins class="adsbygoogle mb-3" data-ad-status="unfilled"
         style="@($"display: block; min-width: 320px; min-height: {(AdFormat == "auto" ? "280" : "90")}px; text-align: center; border-width: 1px; border-radius: 4px; border-color: var(--mud-palette-lines-inputs); background-color: white;")">
        <div></div>
    </ins>
}
else if (Principal?.AuthPaddle is not { IsPaidUser: true })
{
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5145928155833172" crossorigin="anonymous"></script>
    <ins class="adsbygoogle" style="display: block; min-width: 320px; min-height: 90px; text-align: center; margin-bottom: 12px; border-width: 1px; border-radius: 4px; border-color: var(--mud-palette-lines-inputs);"
         data-ad-client="ca-pub-@AdClientId" data-ad-slot="@(((long)Section).ToString())" data-ad-format="@AdFormat" data-full-width-responsive="true"></ins>
}

@code {
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Index;
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }
    [Parameter] public string? Format { get; set; }

    private string? AdFormat => Format ?? (Breakpoint >= Breakpoint.Sm ? "auto" : "horizontal");

    private AuthPrincipal? Principal { get; set; }

    private const string AdClientId = "5145928155833172";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            Principal = await PrincipalApi.Get(IsAuthenticated);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Principal?.AuthPaddle is not { IsPaidUser: true })
        {
            await JS.InvokeVoidAsync("loadAds");
        }
    }

    public enum AdUnit : long
    {
        Index = 4046112630,
        Profile = 4650130753,
        Platforms = 5359194302,
        Collections = 1353899488,
        Search = 8540150517,
        Media = 8348578821,
        Media2 = 6804406755,
        Media3 = 6612835066
    }
}
