@inject IJSRuntime JS

@if (Settings is { ShowAdSense: true } && Principal?.ClientePaddle is not { IsPaidUser: true })
{
    <div style="text-align: center" class="google-ads" @key="_instanceKey">
        <ins class="adsbygoogle" data-ad-client="ca-pub-@AdClientId" data-ad-slot="@(((long)Section).ToString())" data-full-width-responsive="true"></ins>
    </div>
}

<style>
    ins.adsbygoogle[data-ad-status='unfilled'] {
        display: none !important;
    }
</style>

@code {
    [Parameter][EditorRequired] public Settings? Settings { get; set; }
    [Parameter][EditorRequired] public ClientePrincipal? Principal { get; set; }
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Main;

    private const string AdClientId = "5145928155833172";
    private readonly Guid _instanceKey = Guid.NewGuid();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Settings is { ShowAdSense: true } && Principal?.ClientePaddle is not { IsPaidUser: true })
        {
            await JS.InvokeVoidAsync("loadAds");
        }
    }

    public enum AdUnit : long
    {
        Main = 4046112630,
        Profile = 4650130753,
        Platforms = 5359194302,
        Collections = 1353899488
    }
}
