@using SD.Shared.Models.Reviews
@inherits ComponentCore<ReviewComponent>

@inject CacheMetaCriticApi CacheMetaCriticApi

<NewRenderControl Actions="Actions" Instance="Model?.Data" ExpressionEmpty="@((ReviewModel? obj) => obj == null || obj.Items.Empty())">
    <MudGrid Spacing="@Css.SpaceSmall">
        @foreach (var item in Model?.Data?.Items ?? [])
        {
            <MudItem xs="12" md="6" Style="text-align: justify;">
                <MudPaper Outlined="true" Class="pa-2">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudChip T="string" Color="GetColorByRating(item?.score)" Label="true" Style="padding: 0.2rem; height: auto; margin: 0; margin-bottom: 4px;" Size="AppStateStatic.Size">
                            @item?.score
                        </MudChip>
                        <MudText Typo="Typo.subtitle1" Color="Color.Primary">@item?.reviewSite</MudText>
                        <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@item?.reviewer</MudText>
                    </div>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Inline="true"
                             Style="@($"line-height: normal; {(AppStateStatic.Size == Size.Small ? "font-size: 0.8rem !important;" : "font-size: 1rem !important;")}")">
                        @item?.quote
                    </MudText>
                    <MudLink Href="@item?.reviewUrl" Target="_blank" rel="noindex, nofollow" Color="Color.Info"
                             Style="@((AppStateStatic.Size == Size.Small ? "font-size: 0.8rem !important;" : "font-size: 1rem !important;"))">
                        Read full review
                    </MudLink>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</NewRenderControl>

@code {
    [Parameter] public string? ImdbId { get; set; }
    [Parameter] public string? EnglishTitle { get; set; }
    [Parameter] public DateTime? ReleaseDate { get; set; }
    [Parameter] public MediaType? Type { get; set; }

    public CacheDocument<ReviewModel>? Model { get; set; }
    private ComponentActions<ReviewModel?> Actions { get; set; } = new();

    protected override async Task ProcessComponentData()
    {
        Actions.StartLoading?.Invoke(null);

        if (!string.IsNullOrEmpty(ImdbId))
        {
            if (Type == MediaType.movie)
            {
                Model = await CacheMetaCriticApi.GetMovieReviews(ImdbId, EnglishTitle, ReleaseDate);
            }
            else
            {
                Model = await CacheMetaCriticApi.GetShowReviews(ImdbId, EnglishTitle, ReleaseDate);
            }
        }

        Actions.FinishLoading?.Invoke(Model?.Data);
    }

    private static Color GetColorByRating(int? val)
    {
        if (!val.HasValue) return Color.Secondary;

        val = val / 10;

        return val switch
        {
            >= 8 => Color.Success,
            >= 6 => Color.Warning,
            _ => Color.Error
        };
    }

}