@using SD.Shared.Models.Reviews
@inherits ComponentCore<ReviewComponent>

@inject CacheMetaCriticApi CacheMetaCriticApi

<RenderControl Core="Core" Model="Model" ExpressionEmpty="@((CacheDocument<ReviewModel>? obj) => obj?.Data == null || obj.Data.Items.Empty())">
    <MudGrid Spacing="2">
        @foreach (var item in Model?.Data?.Items ?? [])
        {
            <MudItem xs="12" md="6" Style="text-align: justify;">
                <MudPaper Outlined="true" Class="pa-2">
                    <div style="display: flex; gap: 8px; align-items: center;">
                        <MudChip T="string" Color="GetColorByRating(item?.score)" Label="true" Style="padding: 0.2rem; height: auto; margin: 0; margin-bottom: 4px;">
                            @item?.score
                        </MudChip>
                        <MudText Typo="Typo.subtitle1" Color="Color.Primary">@item?.reviewSite</MudText>
                        <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@item?.reviewer</MudText>
                    </div>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Style="line-height: normal;" Inline="true">@item?.quote</MudText>
                    <MudLink Href="@item?.reviewUrl" Target="_blank" rel="noindex, nofollow" Color="Color.Info">Read full review</MudLink>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
</RenderControl>

@code {
    [Parameter] public string? ImdbId { get; set; }
    [Parameter] public string? EnglishTitle { get; set; }
    [Parameter] public DateTime? ReleaseDate { get; set; }
    [Parameter] public MediaType? Type { get; set; }

    public RenderControlCore<CacheDocument<ReviewModel>?> Core { get; set; } = new();
    public CacheDocument<ReviewModel>? Model { get; set; }

    protected override async Task LoadEssentialDataAsync()
    {
        if (!string.IsNullOrEmpty(ImdbId))
        {
            if (Type == MediaType.movie)
            {
                Model = await CacheMetaCriticApi.GetMovieReviews(ImdbId, EnglishTitle, ReleaseDate, Core);
            }
            else
            {
                Model = await CacheMetaCriticApi.GetShowReviews(ImdbId, EnglishTitle, ReleaseDate, Core);
            }
        }
        else
        {
            Core.LoadingFinished?.Invoke(null);
        }
    }

    private static Color GetColorByRating(int? val)
    {
        if (!val.HasValue) return Color.Secondary;

        val = val / 10;

        return val switch
        {
            >= 8 => Color.Success,
            >= 6 => Color.Warning,
            _ => Color.Error
        };
    }

}